
.App {
  border: 2px solid black;
  text-align: center;
  color: #333;
  margin: 20px;
  padding: 20px;
  background: url(./images/capitol-building-8.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.trelloColumns{
  border: 2px solid black;
  background: lightblue;
  width: 400px;
  height: auto;
  margin: 5px;
}

#containerOfColumns{
   width: auto;
   height: auto;
   display: flex
}

.MenuDivs a {
  padding-left: 5%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: none;
}

.ProgResult{
  text-transform: uppercase;
  padding-top: 30px;
}

.LinkResult{
  padding-top: 50px;
}

.singleProgramDiv{
  border: thin solid black;
  background-color: #221f1f;
  width: 280px;
  height: 100px;
  margin: 3px;
}

/* .AgencyByShort{
  justify-content: center;
  display: flex;
  flex-flow: row;
  flex-wrap:wrap;
} */


a:link, a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
  transform: scale(1.04) translateY(-5px);
}
