
.App {
  border: 2px solid black;
  text-align: center;
  color: #333;
  margin: 20px;
  padding: 20px;
  background: url(./images/capitol-building-8.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.MenuDivs {
  padding-left: 5%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: none;
}

.ProgTitleText{
  text-transform: uppercase;
  padding-top: 10px;
}

.ProgTitleLink{
  padding-top: 50px;
}


.divOfProgs{
  justify-content: center;
  display: flex;
  flex-flow: row;
  flex-wrap:wrap;
}

#favoritesDiv {
    background-color: green;
    /* position: absolute; */
    right: 10px;
    height: 500px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}
a:link, a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
  transform: scale(1.04) translateY(-5px);
  /* background-color: #dbdcd1; */
}
